

/* Target the entire scrollbar (WebKit-based browsers) */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #212121;
}

::-webkit-scrollbar-thumb {
  background-color: #414141;
  border-radius: 10px;
}