 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  border: 2px solid crimson;
}

header {
  position: fixed;
  height: 8vh;
  width: 100%;
  border: 2px solid seagreen;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  width: 2.7rem;
  height: 2.5rem;
  margin-left: 0.7rem;
}

.logo h1 {
  font-size: 18pt;
  letter-spacing: -1px;
}

.searchbar {
  display: flex;
  width: 40%;
  height: 2.5rem;
  border-radius: 70px;
  border: 2px solid skyblue;
  position: relative;
}

.searchbar input {
  position: relative;
  height: 100%;
  width: 90%;
  font-size: 11pt;
  padding: 0 12px;
  border-radius: 50px 0 0 50px;
}

.searchbar button {
  position: relative;
  height: 100%;
  width: 10%;
  font-size: 12pt;
  border-radius: 0 50px 50px 0;
  border: 2px solid gray;
}

.auth {
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.signup-btn {
  font-size: 12pt;
  padding: 7px 20px;
  font-weight: 500;
  border-radius: 5px;
}

.login-btn {
  font-size: 12pt;
  font-weight: 600;
  border-radius: 5px;
  padding: 7px 20px;
  background-color: rgb(216, 101, 24);
  color: white;
  border: 2px solid rgb(216, 93, 12);
}


















